html
	head
		title!= title
		link(rel='stylesheet', href='/styles.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arvo')
	body
		h1!= title
		p This is a two player game.  Try to guess as many of the tags the computer generates for the image as possible!  Points are based on the higher probabilities for the tags. Have fun!

	img(src!=imageUrl)

	br
	br

	table.center
		tr.p1
			td Player 1
			td.p1pts 0
			td
				input(type=text, name=p1input) 
			td
				button#p1Button(type=button) Submit
		tr.p2
			td Player 2
			td.p2pts 0
			td
				input(type=text, name=p2input) 
			td 
				button#p2Button(type=button) Submit

	ol#words
		li#1!= word1
		li#2!= word2
		li#3!= word3
		li#4!= word4
		li#5!= word5

	h2#wrong

	<script type="text/javascript" src="/scripts.js"></script>