html
	head
		title!= title
		link(rel='stylesheet', href='/styles.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Arvo')
	body
		h1!= title
		p Welcome to Think Like a Computer, a two-player game in the style of Family Feud!
		p First, determine who will be Player 1, the starting player. Player 1 tries to guess all the tags that the computer associates with the image below, with points based on the degree of association assigned by Clarifai's image recognition algorithm.
		p If Player 1 can get the top 5 tags before guessing wrong 3 times, Player 1 gets to keep all of his or her points. But if he or she gets to 3 strikes first, Player 2 has the chance to guess one of the remaining tags to steal all of Player 1's points!
		p Remember: think like a computer, and have fun!

	br
	img(src!=imageUrl)
	h2#wrong 
	br

	table.center
		tr.p1
			td Player 1
			td#p1pts 0
			td
				input#p1input(type=text, name=p1input) 
			td
				button#p1Button(type=button) Submit
		tr.p2
			td Player 2
			td#p2pts 0
			td
				input#p2input(type=text, name=p2input) 
			td
				button#p2Button(type=button) Submit

	ol#words
		li.hidden#word1!= word1
		li.hidden#word2!= word2
		li.hidden#word3!= word3
		li.hidden#word4!= word4
		li.hidden#word5!= word5

	<script type="text/javascript" src="/scripts.js"></script>